pip install pandas==1.4.4
pip install numpy==1.22.4
pip install sentence-transformers==2.2.2
pip install scikit-learn==1.1.3
pip install spacy==3.4.4
pip install nltk==3.7
pip install pdfplumber==0.5.28
pip install streamlit==1.20.0
